.links {
  display: flex;
  margin-top: 2rem;
  padding: 20px;
  justify-content: center;
  gap: 1rem;
}

.divider {
  border-top: 2px solid var(--green);
  margin: 2rem auto;
  width: 90%;
  position: relative;
}

.divider::before,
.divider::after {
  content: '';
  position: absolute;
  top: -2px;
  width: 6px;
  height: 6px;
  background: var(--green);
}

.divider::before {
  left: 0;
}

.divider::after {
  right: 0;
}
