.modal-overlay {
  position: fixed;
  inset: 0;
  background: var(--shadow-color);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-box {
  padding: 2rem;
  border-radius: 8px;
  width: 300px;
  height: 300px;
  background-color: var(--color-bg);
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 1050;
}

h3 {
  text-align: center;
  color: var(--color-text-tertiary)
}
h4 {
  color: var(--color-success)
}
p {
  background-color: transparent;
}
li {
  background-color: transparent;
}

.timeline-box{
  width: fit-content;
  height: 600px;

}

.pastirma {
  display: flex;
     left: 8px;
    top: 4px;
    width: 35%;
  justify-self: center;
}
.cats {
  display: flex;
     left: 8px;
    top: 4px;
    width: 35%;
  justify-self: center;
}

.leetcoder {
  display: flex;
     left: 8px;
    top: 4px;
    width: 50%;
  justify-self: center;
}
@media (max-width: 767.98px) {
  /* .timeline-box{
  width: 350px;
  height: 600px;

} */
}