.modal {
  animation: popIn 0.5s cubic-bezier(0.59, 0.52, 0, 1.18) forwards; /*https://cubic-bezier.com/*/
}
@keyframes popIn {
  to {
    transform: scale(1);
  }
}

.pixel-list {
  list-style: none;
  margin: 2rem auto;
  width: fit-content;
  font-size: 14px;
  color: #000;
}

.pixel-list li {
  background: #fff;
  margin: 8px 0;
  padding: 8px 16px;
  cursor: pointer;
  text-align: center;
  box-shadow:
    0 -2px #000,
    0 2px #000,
    -2px 0 #000,
    2px 0 #000,
    -2px -2px #000,
    2px -2px #000,
    -2px 2px #000,
    2px 2px #000;
  transition: transform 0.1s;
}

.pixel-list li:hover {
  background: var(--yellow);
  transform: scale(1.05) rotate(1deg);
}
