h1 {
  justify-content: center;
  margin-top: 5rem;
  font-size: 3rem;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: var(--green);
}

h2 {
  text-align: center;
  margin-top: 10px;
}

.tea-w-bubble-container {
  justify-content: center;
  align-content: center;
  display: flex;
  width: 100%;
}

img {
  width: 200px;
  height: auto;
  border: none;
  margin-top: 2rem;
  display: inline-block flow-root;
  position: relative;
}

.bubble {
  position: relative;
  display: inline-block;
  margin: 20px;
  margin-top: 40px;
  margin-left: 50px;
  background-color: #fff;
  color: #000;
  padding: 4px;
  box-shadow:
    0 -4px #fff,
    0 -8px #000,
    4px 0 #fff,
    4px -4px #000,
    8px 0 #000,
    0 4px #fff,
    0 8px #000,
    -4px 0 #fff,
    -4px 4px #000,
    -8px 0 #000,
    -4px -4px #000,
    4px 4px #000;
  box-sizing: border-box;
  width: 11rem;
  height: 100px;
}

.wiggle {
  animation: wiggle 3.4s ease infinite;
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  5% {
    transform: rotate(10deg);
  }
  10% {
    transform: rotate(-10deg);
  }
  15% {
    transform: rotate(20deg);
  }
  20% {
    transform: rotate(-5deg);
  }
  25% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.bubble > * {
  flex: 1 1 auto; /* items can shrink and grow */
  min-width: 150px; /* don’t shrink smaller than this */
}

.bubble.shadow {
  box-shadow:
    0 -4px #fff,
    0 -8px #000,
    4px 0 #fff,
    4px -4px #000,
    8px 0 #000,
    0 4px #fff,
    0 8px #000,
    -4px 0 #fff,
    -4px 4px #000,
    -8px 0 #000,
    -4px -4px #000,
    4px 4px #000,
    4px 12px rgba(0, 0, 0, 0.5),
    12px 4px rgba(0, 0, 0, 0.5),
    8px 8px rgba(0, 0, 0, 0.5);
}

.bubble::after {
  content: '';
  display: block;
  position: absolute;
  box-sizing: border-box;
}

.bubble.bottom::after {
  height: 4px;
  width: 4px;
  bottom: -8px;
  right: 32px;
  box-shadow:
    0 4px #000,
    0 8px #000,
    0 12px #000,
    0 16px #000,
    -4px 12px #000,
    -8px 8px #000,
    -12px 4px #000,
    -4px 4px #fff,
    -8px 4px #fff,
    -4px 8px #fff,
    -4px 0 #fff,
    -8px 0 #fff,
    -12px 0 #fff;
}

.bubble:hover {
  transform: scale(1.05) rotate(2deg);
  transition: all 0.2s ease;

  cursor: pointer;
}

.span-wrap {
  display: inline-block;
  width: 100%;
  background-color: transparent;
}

.type {
  font-family: 'Silkscreen', sans-serif;
  font-size: 10px;
  display: inline-block;
  margin: 0;
  background-color: transparent;
  letter-spacing: 0.3em;
  overflow: hidden;
  white-space: pre-wrap;
  word-break: break-word;
}

.btn-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  width: 100%;
}

@media (min-width: 768px) {
  .restart-btn {
    padding: 0.25em 0.75em;
  }
}

@media (max-width: 700px) {
  .restart-btn {
    margin-left: 20rem;
  }
}
