.name {
  justify-content: center;
  margin-top: 5rem;
  font-size: 3rem;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: var(--color-text-primary);
}

.welcome {
  text-align: center;
  margin-top: 10px;
  color: var(--color-text-secondary);
}

.bubble-figure-container {
  justify-content: center;
  align-content: center;
  display: flex;
}

.figure {
width: 300px;
height: auto;

  display: inline-block flow-root;
    image-rendering: pixelated; /* keeps pixel crisp */
}

.bubble {
  position: relative;
  display: inline-block;
  margin: 20px;
  margin-top: 40px;
  margin-left: 50px;
  background-color: var(--color-bg-bubble);
  color: var(--color-text-primary);
  padding: 4px;
  box-shadow:
    0 -4px var(--color-bg-bubble),
    0 -8px var(--color-accent),
    4px 0 var(--color-bg-bubble),
    4px -4px var(--color-accent),
    8px 0 var(--color-accent),
    0 4px var(--color-bg-bubble),
    0 8px var(--color-accent),
    -4px 0 var(--color-bg-bubble),
    -4px 4px var(--color-accent),
    -8px 0 var(--color-accent),
    -4px -4px var(--color-accent),
    4px 4px var(--color-accent);
  box-sizing: border-box;
  width: 11rem;
  height: 100px;
}

.wiggle {
  animation: wiggle 3.4s ease infinite;
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  5% {
    transform: rotate(10deg);
  }
  10% {
    transform: rotate(-10deg);
  }
  15% {
    transform: rotate(20deg);
  }
  20% {
    transform: rotate(-5deg);
  }
  25% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.bubble > * {
  flex: 1 1 auto; /* items can shrink and grow */
  min-width: 150px; /* don’t shrink smaller than this */
}

.bubble.shadow {
  box-shadow:
    0 -4px var(--color-bg-bubble),
    0 -8px var(--color-accent),
    4px 0 var(--color-bg-bubble),
    4px -4px var(--color-accent),
    8px 0 var(--color-accent),
    0 4px var(--color-bg-bubble),
    0 8px var(--color-accent),
    -4px 0 var(--color-bg-bubble),
    -4px 4px var(--color-accent),
    -8px 0 var(--color-accent),
    -4px -4px var(--color-accent),
    4px 4px var(--color-accent),
    4px 12px var(--shadow-color-after),
    12px 4px var(--shadow-color-after),
    8px 8px var(--shadow-color-after);
}

.bubble::after {
  content: '';
  display: block;
  position: absolute;
  box-sizing: border-box;
}

.bubble.bottom::after {
  height: 4px;
  width: 4px;
  bottom: -8px;
  right: 32px;
  box-shadow:
    0 4px var(--color-accent),
    0 8px var(--color-accent),
    0 12px var(--color-accent),
    0 16px var(--color-accent),
    -4px 12px var(--color-accent),
    -8px 8px var(--color-accent),
    -12px 4px var(--color-accent),
    -4px 4px var(--color-bg-bubble),
    -8px 4px var(--color-bg-bubble),
    -4px 8px var(--color-bg-bubble),
    -4px 0 var(--color-bg-bubble),
    -8px 0 var(--color-bg-bubble),
    -12px 0 var(--color-bg-bubble);
}

.bubble:hover {
  transform: scale(1.05) rotate(2deg);
  transition: all 0.2s ease;
  cursor: pointer;
}

.text-container {
  display: inline-block;
  width: 100%;
}

.text {
  font-family: 'Silkscreen', sans-serif;
  font-size: 10px;
  display: inline-block;
  margin: 0;
  letter-spacing: 0.3em;
  overflow: hidden;
  white-space: pre-wrap;
  word-break: break-word;
}

.bubble-container {
  display: flex;
  flex-direction: column;

  gap: 8px;
}
.restart-container {
  width: 100%;            
  display: flex;
  justify-content: flex-end;
  margin-top: 8px;
}
.restart-btn {
  display: inline-block;
  width: fit-content;
}

@media (min-width: 768px) {
  .restart-btn {
    padding: 0.25em 0.75em;
  }
}

@media (max-width: 700px) {
  .restart-btn {
  }
}
