/* You can add global styles to this file, and also import other style files */

* {
  background-color: #f5ebdd;
  font-family: 'Silkscreen', sans-serif;
  width: 100%;
}

body {
  max-width: 100%;
  margin: 0;
}

button {
  width: auto;
  min-width: fit-content;
  margin: 0 5px;
  position: relative;
  background-color: #fff;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow:
    1px 1px 0px 0px,
    2px 2px 0px 0px,
    3px 3px 0px 0px,
    4px 4px 0px 0px,
    5px 5px 0px 0px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  transition: all 0.2s ease;
}

button:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

button:hover {
  background: var(--yellow);
  transform: scale(1.05) rotate(1deg);
}
